/*================================
=            uiversal            =
================================*/
* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  font-size: .812em; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  position: relative; }

a,
a:hover,
a:focus {
  text-decoration: none;
  color: unset; }

a,
p,
span,
button {
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0; }

hr,
p {
  margin: 0; }

.pt15 {
  padding-top: 15px; }

.pt30 {
  padding-top: 30px; }

.pt60 {
  padding-top: 60px; }

.pb15 {
  padding-bottom: 15px; }

.pb30 {
  padding-bottom: 30px; }

.pb60 {
  padding-bottom: 60px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.mt15 {
  margin-top: 15px; }

.mt30 {
  margin-top: 30px; }

.mt60 {
  margin-top: 60px; }

.mb15 {
  margin-bottom: 15px; }

.mb30 {
  margin-bottom: 30px; }

.mb60 {
  margin-bottom: 60px; }

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px; }

/*=====  End of uiversal  ======*/
/*==============================
=            header            =
==============================*/
/* -------------------------------------------- */
/*                 header                */
/* -------------------------------------------- */
.bottom-header {
  background: #e3f0fb;
  position: sticky;
  top: 0; }
  .bottom-header .main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0; }
    .bottom-header .main-header .logo {
      margin-right: 15px; }
      .bottom-header .main-header .logo img {
        max-height: 70px; }
    .bottom-header .main-header .search-input {
      width: 100%; }
      .bottom-header .main-header .search-input .form-control {
        font-size: 14px;
        border-radius: 100px;
        padding: 5px 20px; }
        .bottom-header .main-header .search-input .form-control:focus {
          box-shadow: unset; }
      .bottom-header .main-header .search-input .btn {
        border-radius: 100px; }
      .bottom-header .main-header .search-input .btn-primary:focus {
        box-shadow: unset; }
    .bottom-header .main-header .comp-wish-cart {
      display: flex;
      flex-direction: row;
      margin-left: 15px; }
      .bottom-header .main-header .comp-wish-cart .noti button,
      .bottom-header .main-header .comp-wish-cart .wish button,
      .bottom-header .main-header .comp-wish-cart .cart button {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 100px; }
        .bottom-header .main-header .comp-wish-cart .noti button .badge,
        .bottom-header .main-header .comp-wish-cart .wish button .badge,
        .bottom-header .main-header .comp-wish-cart .cart button .badge {
          top: 0;
          border-radius: 100px;
          background: #E7422C; }
      .bottom-header .main-header .comp-wish-cart .noti i {
        line-height: 1.5; }
      .bottom-header .main-header .comp-wish-cart .noti .btn {
        border-radius: 100px; }
      .bottom-header .main-header .comp-wish-cart .cart {
        position: relative; }
        .bottom-header .main-header .comp-wish-cart .cart .cart-details {
          position: absolute;
          background: #fff;
          z-index: 3;
          right: 0;
          margin-top: 10px;
          border-radius: .75rem;
          padding: 0.75rem 1.5rem;
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
          width: max-content;
          display: none;
          transition: 0.3s all; }
          .bottom-header .main-header .comp-wish-cart .cart .cart-details.show {
            display: block; }
          .bottom-header .main-header .comp-wish-cart .cart .cart-details .title {
            color: #E7422C;
            font-weight: bold;
            font-size: 1rem;
            text-transform: capitalize; }
          .bottom-header .main-header .comp-wish-cart .cart .cart-details .products {
            height: 300px;
            overflow-y: auto;
            /* width */
            /* Track */
            /* Handle */ }
            .bottom-header .main-header .comp-wish-cart .cart .cart-details .products::-webkit-scrollbar {
              width: 20px; }
            .bottom-header .main-header .comp-wish-cart .cart .cart-details .products::-webkit-scrollbar-track {
              background: #fff; }
            .bottom-header .main-header .comp-wish-cart .cart .cart-details .products::-webkit-scrollbar-thumb {
              opacity: 0.5;
              background: #1D70B7;
              border-left: 15px white solid;
              background-clip: padding-box; }
            .bottom-header .main-header .comp-wish-cart .cart .cart-details .products .product {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: .75rem;
              background: #e3f0fb;
              border-radius: .75rem;
              margin: .75rem 0; }
              .bottom-header .main-header .comp-wish-cart .cart .cart-details .products .product .image-name-price {
                display: flex;
                flex-direction: row;
                align-items: center; }
                .bottom-header .main-header .comp-wish-cart .cart .cart-details .products .product .image-name-price .image {
                  overflow: hidden;
                  border-radius: .5rem;
                  flex-shrink: 0; }
                  .bottom-header .main-header .comp-wish-cart .cart .cart-details .products .product .image-name-price .image img {
                    width: 100%;
                    max-width: 70px; }
                .bottom-header .main-header .comp-wish-cart .cart .cart-details .products .product .image-name-price .name-price {
                  flex-shrink: 0;
                  margin-left: 10px; }
                  .bottom-header .main-header .comp-wish-cart .cart .cart-details .products .product .image-name-price .name-price .name {
                    font-weight: bold;
                    color: #1D70B7;
                    font-family: "mmsBold", sans-serif;
                    font-size: 1rem; }
              .bottom-header .main-header .comp-wish-cart .cart .cart-details .products .product .remove-icon {
                font-size: 1.5rem;
                color: red;
                margin-left: 1rem; }
          .bottom-header .main-header .comp-wish-cart .cart .cart-details .subtotal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(29, 112, 183, 0.25);
            border-radius: 100px;
            padding: 0.75rem 1.5rem;
            margin: .75rem 0;
            font-size: 1rem; }
            .bottom-header .main-header .comp-wish-cart .cart .cart-details .subtotal .text {
              color: #1D70B7; }
            .bottom-header .main-header .comp-wish-cart .cart .cart-details .subtotal .amount {
              font-weight: bold;
              color: #E7422C; }
          .bottom-header .main-header .comp-wish-cart .cart .cart-details .cart-checkout-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            .bottom-header .main-header .comp-wish-cart .cart .cart-details .cart-checkout-btn .btn {
              border-radius: 100px;
              text-transform: capitalize; }
    .bottom-header .main-header .login-reg {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 15px; }
      .bottom-header .main-header .login-reg .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        flex-shrink: 0;
        width: 31.9px;
        height: 31.9px; }
    .bottom-header .main-header .hotline {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #E7422C;
      padding: 5px;
      border-radius: 100px;
      margin-left: 15px; }
      .bottom-header .main-header .hotline .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        color: #E7422C;
        background: #e3f0fb;
        flex-shrink: 0; }
        .bottom-header .main-header .hotline .icon i {
          font-size: 20px; }
      .bottom-header .main-header .hotline .text {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        color: #fff;
        margin-left: 10px;
        margin-right: 15px;
        flex-wrap: wrap; }
        .bottom-header .main-header .hotline .text .call-us {
          margin-bottom: -5px; }
        .bottom-header .main-header .hotline .text .hotline-number {
          font-size: 20px; }
    .bottom-header .main-header .navbar-toggler {
      width: 45px;
      height: 45px;
      border-radius: 45px;
      background: #1D70B7; }
      .bottom-header .main-header .navbar-toggler:focus {
        box-shadow: unset; }
      .bottom-header .main-header .navbar-toggler .navbar-toggler-custom-icon .bar {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: #e3f0fb;
        display: block;
        transition: 0.3s all; }
        .bottom-header .main-header .navbar-toggler .navbar-toggler-custom-icon .bar:not(:last-child) {
          margin-bottom: 4px; }
      .bottom-header .main-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-custom-icon .bar {
        margin-bottom: -3px; }
      .bottom-header .main-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-custom-icon .bar-1 {
        transform: rotate(45deg); }
      .bottom-header .main-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-custom-icon .bar-2 {
        display: none; }
      .bottom-header .main-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-custom-icon .bar-3 {
        transform: rotate(-45deg); }

.modal-backdrop {
  z-index: 3; }

.navigation-menu {
  background: #1D70B7;
  position: sticky;
  top: 80px;
  z-index: 2; }
  .navigation-menu .navbar {
    padding: 0; }
    .navigation-menu .navbar .navbar-collapse {
      justify-content: center; }
  .navigation-menu .navbar-nav .nav-link.active,
  .navigation-menu .navbar-nav .show > .nav-link {
    color: #fff; }
  .navigation-menu .nav-link {
    color: #fff; }
  .navigation-menu .animate__animated {
    animation-duration: 0.5s; }
  .navigation-menu .dropdown-menu {
    background: #e3f0fb;
    border: 1px solid rgba(29, 112, 183, 0.25); }
  .navigation-menu .dropdown-label {
    color: #1D70B7;
    font-weight: bold;
    padding-left: 1rem; }
  .navigation-menu .dropdown-item:focus,
  .navigation-menu .dropdown-item:hover {
    background: #1D70B7;
    color: #fff; }

.mobile-menu {
  background: #1D70B7; }
  .mobile-menu .navbar-nav {
    flex-direction: row; }
    .mobile-menu .navbar-nav .nav-item {
      margin: 0 10px; }
    .mobile-menu .navbar-nav .nav-link {
      color: #fff; }

.mobileNavMenu {
  border-top: 1px solid rgba(227, 240, 251, 0.25); }

#categoryModal .modal-title {
  color: #1D70B7; }
#categoryModal .modal-body {
  padding: unset; }
  #categoryModal .modal-body .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #categoryModal .modal-body .wrapper .single-category {
      flex-basis: 50%;
      padding: 12px; }
      #categoryModal .modal-body .wrapper .single-category .title {
        color: #1D70B7;
        font-weight: bold;
        font-size: 13px;
        text-align: center; }
        #categoryModal .modal-body .wrapper .single-category .title:after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: rgba(29, 112, 183, 0.25);
          margin-top: 2.5px; }
      #categoryModal .modal-body .wrapper .single-category ul {
        text-align: center; }
        #categoryModal .modal-body .wrapper .single-category ul li {
          margin: 5px 0; }

/* -------------------------------------------- */
/*              multi level navbar              */
/* -------------------------------------------- */
.dropdown-menu {
  margin-top: 0; }

.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent; }

.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin: 0 20px;
  border-width: 0; }

.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto; }

/* -------------------------------------------- */
/*                 bottom header                */
/* -------------------------------------------- */
@media (max-width: 992px) {
  .bottom-header .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; }
    .bottom-header .main-header .logo {
      margin-right: 15px; }
    .bottom-header .main-header .search-input .form-control {
      font-size: 14px; }
      .bottom-header .main-header .search-input .form-control:focus {
        box-shadow: unset; }
    .bottom-header .main-header .search-input .btn-primary:focus {
      box-shadow: unset; }
    .bottom-header .main-header .navbar-toggler {
      margin-left: 15px; }
    .bottom-header .main-header .comp-wish-cart {
      display: none; }
    .bottom-header .main-header .btn-search-mobile {
      width: 45px;
      height: 45px;
      border-radius: 45px; }
      .bottom-header .main-header .btn-search-mobile:focus {
        box-shadow: unset; }
  .bottom-header .hotline-mobile {
    background: #E7422C; }
    .bottom-header .hotline-mobile .hotline {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 0; }
    .bottom-header .hotline-mobile .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background: #e3f0fb;
      border-radius: 30px;
      color: #E7422C; }
    .bottom-header .hotline-mobile .text {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10px;
      color: #fff;
      font-size: 13px; }
      .bottom-header .hotline-mobile .text .hotline-number {
        margin-left: 5px;
        font-weight: bold; }

  .navigation-menu .navbar-nav {
    padding-left: .75rem;
    padding-right: .75rem; } }
/* -------------------------------------------- */
/*           multi level nav menu css           */
/* -------------------------------------------- */
@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px; }

  .dropdown-menu > li a:hover,
  .dropdown-menu > li.show {
    background: #1D70B7;
    color: white; }

  .dropdown-menu > li.show > a {
    color: white; } }
/* -------------------- end ------------------- */
@media (min-width: 992px) {
  .mobile-nav {
    display: none; }

  .hotline-mobile {
    display: none; }

  .mobile-menu {
    display: none; }

  .mobileNavMenu {
    display: none; } }
/* -------------------------------------------- */
/*                mobile nav menu               */
/* -------------------------------------------- */
.mobile-nav {
  background: #e3f0fb;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 10px #1d70b7; }
  .mobile-nav .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .mobile-nav .wrapper .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 15px 10px;
      font-size: 30px;
      flex-grow: 1;
      color: #1D70B7; }
      .mobile-nav .wrapper .menu:not(:last-child) {
        border-right: 1px solid rgba(29, 112, 183, 0.25); }
    .mobile-nav .wrapper .cart {
      position: relative; }
      .mobile-nav .wrapper .cart span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        font-size: 10px;
        color: #fff;
        background: #E7422C;
        top: 5px;
        right: 20px; }

/*=====  End of header  ======*/
/*===============================
=            content            =
===============================*/
@font-face {
  font-family: "mmmsRegular";
  src: url("../fonts/mms-bangla-regular.ttf"); }
@font-face {
  font-family: "mmmsBold";
  src: url("../fonts/mms-bangla-bold.ttf"); }
.btn-primary {
  color: #fff;
  background-color: #1D70B7;
  border-color: #1D70B7;
  text-transform: uppercase;
  border-radius: 100px; }

.btn-primary:hover {
  color: #fff;
  background-color: #1a63a1;
  border-color: #1a63a1; }

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #1a63a1;
  border-color: #daebf9;
  box-shadow: 0 0 0 0.2rem rgba(29, 112, 183, 0.25); }

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1a63a1;
  border-color: #daebf9;
  box-shadow: 0 0 0 0.2rem rgba(29, 112, 183, 0.25); }

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 112, 183, 0.25); }

.btn-outline-primary {
  color: #1D70B7;
  border-color: #1D70B7;
  border-radius: 100px; }

.btn-outline-primary:hover {
  color: #fff;
  background-color: #1D70B7;
  border-color: #1D70B7; }

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 112, 183, 0.25); }

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1a63a1;
  border-color: #1a63a1; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 112, 183, 0.25); }

.form-control:focus {
  border-color: #1D70B7;
  box-shadow: 0 0 0 0.2rem rgba(29, 112, 183, 0.25); }

.accordion.shortcuts .accordion-body {
  background: #e3f0fb;
  padding: unset;
  overflow: hidden; }
.accordion.shortcuts .shortcutMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px; }
  .accordion.shortcuts .shortcutMenu:not(:last-child) {
    border-bottom: 1px solid rgba(29, 112, 183, 0.25); }
  .accordion.shortcuts .shortcutMenu i {
    margin-right: 10px;
    color: #1D70B7; }
  .accordion.shortcuts .shortcutMenu:hover {
    color: #16558b;
    background: rgba(29, 112, 183, 0.15); }
.accordion .accordion-collapse {
  overflow: hidden; }

.accordion-button {
  background-color: #1D70B7;
  color: #fff;
  padding: 10px 15px; }
  .accordion-button:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E"); }

.accordion-body {
  background-color: #e3f0fb; }

.accordion-item,
.accordion-button {
  border-radius: var(--bs-accordion-border-radius); }

.accordion-button:not(.collapsed) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  .accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E"); }

.accordion-item:not(:last-child) {
  margin-bottom: 15px; }

.accordion-body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #16558b;
  box-shadow: unset; }

.accordion-button:focus {
  box-shadow: unset; }

.accordion-item {
  border: 1px solid rgba(29, 112, 183, 0.25); }

.accordion-item:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(20px - 1px);
  border-top-right-radius: calc(20px - 1px); }

.accordion-item:last-of-type {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; }

.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; }

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(20px - 1px);
  border-bottom-left-radius: calc(20px - 1px); }

.accordion-item,
.accordion-button {
  border-radius: 20px; }

.text-justify {
  text-align: justify !important; }

.content-container {
  background: #e3f0fb;
  border-radius: 15px;
  padding: .75rem; }
  .content-container .sec-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #E7422C;
    text-align: center;
    font-size: 1.25rem;
    padding-top: 12px;
    text-transform: capitalize; }
    .content-container .sec-title::after {
      content: "";
      display: block;
      width: calc(100% - 24px);
      height: 2px;
      background: rgba(231, 66, 44, 0.25);
      margin: 0 auto; }

.table {
  border-color: #1D70B7; }

.jq-star:not(:last-child) {
  margin-right: 3px; }

.jq-star-svg {
  padding-left: unset; }

.stock {
  padding: 5px 10px;
  border-radius: 100px;
  color: #fff; }
  .stock.stock-in {
    background: var(--bs-success); }
  .stock.stock-out {
    background: var(--bs-danger); }

.divider {
  width: 100%;
  height: 1px;
  background: rgba(29, 112, 183, 0.25);
  border-radius: 10px; }

.form-check {
  min-height: unset;
  margin-bottom: unset;
  padding-left: unset; }

.form-check,
.form-check-input,
.form-check-label {
  cursor: pointer; }

/* -------------------------------------------- */
/*                mobile sidebar                */
/* -------------------------------------------- */
.sidebar {
  padding: 12px; }
  .sidebar .image-name {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sidebar .image-name .img-wrapper {
      overflow: hidden;
      width: 70px;
      height: 70px;
      border-radius: 100px;
      border: 2px solid rgba(29, 112, 183, 0.5); }
      .sidebar .image-name .img-wrapper img {
        width: 100%; }
    .sidebar .image-name .name {
      color: #1D70B7;
      font-size: 16px;
      font-weight: bold;
      margin-top: 5px; }
  .sidebar .divider {
    width: unset;
    margin: 0 -22px; }
  .sidebar .menu-wrapper .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    border: 1px solid #1D70B7;
    border-radius: 2rem;
    color: #1D70B7;
    margin-top: 12px;
    font-size: 13px;
    transition: 0.3s all; }
    .sidebar .menu-wrapper .menu:hover {
      background-color: #1D70B7;
      color: #fff; }
    .sidebar .menu-wrapper .menu i {
      margin-right: 5px; }

/* -------------------------------------------- */
/*                messenger icon                */
/* -------------------------------------------- */
.messenger-floating-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #1D70B7;
  margin: 15px;
  font-size: 25px;
  opacity: 0.5;
  transition: 0.3s all; }
  .messenger-floating-icon:hover {
    opacity: 1;
    color: #fff;
    background: #E7422C; }

/* -------------------------------------------- */
/*               responsive table               */
/* -------------------------------------------- */
.table > :not(caption) > * > * {
  padding: unset;
  background-color: unset;
  border-bottom-width: unset;
  box-shadow: unset; }

.table > :not(:first-child) {
  border-top: unset; }

.table {
  margin-bottom: 0;
  padding: 0.75rem .75rem 0; }
  .table .thead:after, .table .tbody:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #1d70b7;
    margin-top: 5px; }
  .table .thead .tr, .table .tbody .tr {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .table .thead .tr .th, .table .tbody .tr .th, .table .tbody .tr .td {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: #1D70B7;
      text-transform: capitalize;
      font-size: 1rem;
      margin: 0 .75rem; }
  .table .tbody:after {
    display: none; }
  .table .tbody .tr {
    padding: 0.75rem 0; }
    .table .tbody .tr:not(:last-child) {
      border-bottom: 1px solid rgba(29, 112, 183, 0.25); }
    .table .tbody .tr:hover {
      background: rgba(29, 112, 183, 0.15);
      cursor: pointer; }
    .table .tbody .tr .td {
      color: rgba(0, 0, 0, 0.75);
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }
  .table .thead .tr .th, .table .tbody .tr .th, .table .tbody .tr .td,
  .table .thead .tr .td,
  .table .tbody .tr .td,
  .table .tbody .tr .th,
  .table .tbody .tr .td,
  .table .tbody .tr .td {
    flex-basis: 100%; }

/* -------------------------------------------- */
/*                 cart progress                */
/* -------------------------------------------- */
.cart-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  max-width: 768px;
  margin: 0 auto; }
  .cart-steps .icon-name {
    text-align: center;
    position: relative;
    opacity: 0.5; }
    .cart-steps .icon-name i {
      font-size: 2rem; }
    .cart-steps .icon-name .label {
      font-weight: bold; }
    .cart-steps .icon-name:not(:first-child)::before {
      position: absolute;
      content: "\f054";
      font-family: "Font Awesome 6 Free";
      font-weight: bold;
      top: 50%;
      transform: translateY(-50%);
      left: -50%; }

@media (max-width: 992px) {
  body {
    padding-bottom: 60px; }
    body:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      background: rgba(29, 112, 183, 0.75);
      right: 0;
      left: 0;
      z-index: 1021;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all; }
    body.overlay-active:after {
      visibility: visible;
      opacity: 1; }

  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1022;
    height: 100%;
    border-radius: 0;
    transform: translateX(-100%);
    transition: 0.3s all; }
    .sidebar-container.expanded {
      transform: translateX(0); }

  .messenger-floating-icon {
    margin: 15px 15px 70px;
    opacity: 1; }

  .table .thead, .table .tbody {
    display: none; }
  .table .tbody {
    display: block; }
    .table .tbody:after {
      display: none; }
    .table .tbody .tr .td {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .table .tbody .tr .td .th-sm {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #1D70B7; }

  /* -------------------------------------------- */
  /*                 cart progress                */
  /* -------------------------------------------- */ }
@media (max-width: 992px) and (max-width: 992px) {
  .cart-steps .icon-name .label {
    display: none; }
  .cart-steps .icon-name:not(:first-child)::before {
    left: -100%; } }
@media (min-width: 992px) {
  .sidebar-container {
    display: none; }

  .table .tbody .tr .th-sm {
    display: none; } }
/*=====  End of content  ======*/
/*===============================
=            footer            =
===============================*/
.footer {
  background: #1D70B7;
  padding-top: 12px; }
  .footer .footer-logo {
    width: 100%; }
  .footer .contact-info {
    margin-top: 15px;
    color: #fff; }
    .footer .contact-info .info-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .footer .contact-info .info-wrapper:not(:last-child) {
        margin-bottom: 12px; }
      .footer .contact-info .info-wrapper .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 100px;
        margin-right: 10px; }
  .footer .mapWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    .footer .mapWrapper iframe {
      width: 100%; }
  .footer .quick-link {
    color: #fff; }
    .footer .quick-link .label {
      font-weight: bold;
      font-size: 1.25rem; }
      .footer .quick-link .label:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(227, 240, 251, 0.5);
        margin-top: 2.5px; }
    .footer .quick-link .links li {
      margin: 5px 0; }
  .footer .cust-border {
    border: 1px solid rgba(227, 240, 251, 0.25); }
  .footer .followUs {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .footer .followUs a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 2px solid #e3f0fb;
      border-radius: 30px;
      background: #e3f0fb;
      color: #1D70B7;
      font-size: 15px;
      transition: 0.3s all; }
      .footer .followUs a:not(:last-child) {
        margin-right: 10px; }
      .footer .followUs a:hover {
        background: transparent;
        color: #e3f0fb;
        transform: scale(0.9); }
  .footer .payment-platforms {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center; }
    .footer .payment-platforms img {
      max-width: 100%;
      height: 30px; }

@media (max-width: 992px) {
  .footer .quick-link .label {
    text-align: center; }
  .footer .quick-link .links {
    text-align: center; }
  .footer .followUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer .payment-platforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }
/*=====  End of footer  ======*/

/*# sourceMappingURL=common.css.map */
