.content-container .product-wrapper {
  display: flex;
  flex-direction: row;
  position: relative; }
  .content-container .product-wrapper .cartToggleBtn {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 11px;
    height: 20px;
    padding: 5px 10px;
    line-height: 0;
    z-index: 3; }
    .content-container .product-wrapper .cartToggleBtn .text:after {
      content: "close cart"; }
    .content-container .product-wrapper .cartToggleBtn.closed .text:after {
      content: "open cart"; }
  .content-container .product-wrapper .info {
    flex-grow: 1;
    padding: 12px; }
    .content-container .product-wrapper .info h4 {
      font-family: "mmmsRegular", sans-serif;
      color: #1D70B7; }
    .content-container .product-wrapper .info .review-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .content-container .product-wrapper .info .review-wrapper .count {
        margin-left: 5px;
        color: rgba(0, 0, 0, 0.5); }
    .content-container .product-wrapper .info .stock {
      font-size: 14px; }
    .content-container .product-wrapper .info .title {
      flex-basis: 10%;
      color: #1D70B7;
      flex-shrink: 0; }
    .content-container .product-wrapper .info .data.price .price-tag {
      font-size: 24px;
      font-weight: bold;
      color: #1D70B7; }
    .content-container .product-wrapper .info .data.size-options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .content-container .product-wrapper .info .data.size-options .form-check-input {
        display: none; }
      .content-container .product-wrapper .info .data.size-options .size-option-wrapper {
        margin: .5rem 0; }
        .content-container .product-wrapper .info .data.size-options .size-option-wrapper:not(:last-child) {
          margin-right: 1rem; }
      .content-container .product-wrapper .info .data.size-options .form-check-input:checked + .form-check .form-check-label {
        border-color: #1D70B7;
        color: #daebf9;
        font-weight: normal;
        background: #1D70B7; }
      .content-container .product-wrapper .info .data.size-options .form-check-label {
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 1rem 1.5rem;
        border-radius: .25rem;
        font-size: 1rem;
        transition: 0.3s all; }
    .content-container .product-wrapper .info .data.sizes {
      border-radius: 100px; }
    .content-container .product-wrapper .info .data.quantity .btn:nth-child(1) {
      border-radius: 100px 0 0 100px; }
    .content-container .product-wrapper .info .data.quantity .btn:nth-child(3) {
      border-radius: 0 100px 100px 0; }
    .content-container .product-wrapper .info .data.quantity .btn:focus {
      box-shadow: unset; }
    .content-container .product-wrapper .info .data.quantity .form-control {
      text-align: center;
      width: 50px; }
      .content-container .product-wrapper .info .data.quantity .form-control:focus {
        box-shadow: unset; }
  .content-container .product-wrapper .product-image {
    flex-shrink: 0;
    margin: 12px;
    overflow: hidden;
    border-radius: .875rem; }
  .content-container .product-wrapper .cart-info {
    padding: 12px; }
    .content-container .product-wrapper .cart-info .cart-details {
      background: #fff;
      border-radius: .75rem;
      padding: 0.75rem 1.5rem;
      width: max-content;
      width: 250px;
      overflow-x: hidden; }
      .content-container .product-wrapper .cart-info .cart-details.show {
        display: block; }
      .content-container .product-wrapper .cart-info .cart-details .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #E7422C;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: capitalize; }
      .content-container .product-wrapper .cart-info .cart-details .products {
        height: 300px;
        overflow-y: auto;
        /* width */
        /* Track */
        /* Handle */ }
        .content-container .product-wrapper .cart-info .cart-details .products::-webkit-scrollbar {
          width: 20px; }
        .content-container .product-wrapper .cart-info .cart-details .products::-webkit-scrollbar-track {
          background: #fff; }
        .content-container .product-wrapper .cart-info .cart-details .products::-webkit-scrollbar-thumb {
          opacity: 0.5;
          background: #1D70B7;
          border-left: 15px white solid;
          background-clip: padding-box; }
        .content-container .product-wrapper .cart-info .cart-details .products .product {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: .75rem;
          background: #daebf9;
          border-radius: .75rem;
          margin: .75rem 0; }
          .content-container .product-wrapper .cart-info .cart-details .products .product .image-name-price {
            display: flex;
            flex-direction: row;
            align-items: center; }
            .content-container .product-wrapper .cart-info .cart-details .products .product .image-name-price .image {
              overflow: hidden;
              border-radius: .5rem;
              flex-shrink: 0; }
              .content-container .product-wrapper .cart-info .cart-details .products .product .image-name-price .image img {
                width: 100%;
                max-width: 70px; }
            .content-container .product-wrapper .cart-info .cart-details .products .product .image-name-price .name-price {
              flex-shrink: 0;
              margin-left: 10px; }
              .content-container .product-wrapper .cart-info .cart-details .products .product .image-name-price .name-price .name {
                font-weight: bold;
                color: #1D70B7;
                font-family: "mmsBold", sans-serif;
                font-size: 1rem; }
          .content-container .product-wrapper .cart-info .cart-details .products .product .remove-icon {
            font-size: 1.5rem;
            color: red;
            margin-left: 1rem; }
      .content-container .product-wrapper .cart-info .cart-details .subtotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(29, 112, 183, 0.25);
        border-radius: 100px;
        padding: 0.75rem 1.5rem;
        margin: .75rem 0;
        font-size: 1rem; }
        .content-container .product-wrapper .cart-info .cart-details .subtotal .text {
          color: #1D70B7; }
        .content-container .product-wrapper .cart-info .cart-details .subtotal .amount {
          font-weight: bold;
          color: #E7422C; }
      .content-container .product-wrapper .cart-info .cart-details .cart-checkout-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .content-container .product-wrapper .cart-info .cart-details .cart-checkout-btn .btn {
          border-radius: 100px;
          text-transform: capitalize; }
    .content-container .product-wrapper .cart-info.closed {
      padding: 0; }
      .content-container .product-wrapper .cart-info.closed .cart-details {
        padding: 0;
        width: 0; }

.description-review {
  padding: 24px; }
  .description-review .nav-item:not(:last-child) {
    margin-right: 12px; }
  .description-review .nav {
    border-bottom: 1px solid rgba(231, 66, 44, 0.25); }
  .description-review .nav-pills .nav-link.active,
  .description-review .nav-pills .show > .nav-link {
    background-color: #E7422C; }
  .description-review .nav-link {
    font-size: 14px;
    color: #E7422C;
    border-radius: 100px;
    border: 1px solid #E7422C; }
  .description-review .tab-content {
    padding-top: .5rem; }
  .description-review .buttons .btn {
    text-transform: capitalize; }
    .description-review .buttons .btn:not(:last-child) {
      margin-right: .75rem; }
  .description-review .description .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #1D70B7;
    text-transform: capitalize;
    font-size: 1.2rem; }
  .description-review .reviews .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #1D70B7;
    text-transform: capitalize;
    font-size: 1.2rem; }
  .description-review .reviews .review-wrapper .single-review {
    padding: .75rem 0; }
    .description-review .reviews .review-wrapper .single-review .customer-name-date {
      margin-top: .5rem;
      color: rgba(0, 0, 0, 0.5); }
    .description-review .reviews .review-wrapper .single-review:not(:last-child) {
      border-bottom: 1px solid rgba(29, 112, 183, 0.25); }

.pop-product .sec-title {
  text-align: left;
  padding-top: 0;
  padding-bottom: 6px; }
  .pop-product .sec-title:after {
    width: 100%; }
.pop-product .product-wrapper {
  padding: 6px 0; }
  .pop-product .product-wrapper:not(:last-child) {
    border-bottom: 1px solid rgba(29, 112, 183, 0.25); }
  .pop-product .product-wrapper .img-wrapper {
    overflow: hidden;
    border-radius: .5rem;
    flex-shrink: 0; }
    .pop-product .product-wrapper .img-wrapper img {
      max-width: 75px;
      border-radius: .5rem;
      border: 1px solid rgba(29, 112, 183, 0.25); }
  .pop-product .product-wrapper .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px; }
    .pop-product .product-wrapper .info-wrapper .name {
      font-weight: bold;
      font-family: "mmsBold", sans-serif;
      color: #1D70B7; }
    .pop-product .product-wrapper .info-wrapper .price {
      font-size: 16px;
      color: #E7422C;
      font-weight: bold; }

.related-products .sec-title {
  text-align: left;
  padding: 12px 12px 0; }
  .related-products .sec-title::after {
    width: 100%; }
.related-products .product {
  padding: 0 12px; }
  .related-products .product .wrapper {
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid rgba(29, 112, 183, 0.25);
    overflow: hidden;
    cursor: pointer; }
    .related-products .product .wrapper .image {
      position: relative; }
      .related-products .product .wrapper .image img {
        width: 100%; }
      .related-products .product .wrapper .image .comp-wish-cart {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 12px;
        right: 12px;
        transform: translateX(50px);
        transition: 0.3s all; }
        .related-products .product .wrapper .image .comp-wish-cart .icon-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          background: #daebf9;
          border-radius: 100px;
          overflow: hidden;
          color: #1D70B7;
          max-width: 30px;
          height: 30px;
          padding: 5px 9px;
          cursor: pointer;
          transition: 0.3s all; }
          .related-products .product .wrapper .image .comp-wish-cart .icon-text:not(:last-child) {
            margin-bottom: 10px; }
          .related-products .product .wrapper .image .comp-wish-cart .icon-text span {
            visibility: hidden;
            white-space: nowrap; }
          .related-products .product .wrapper .image .comp-wish-cart .icon-text:hover {
            background: #1D70B7;
            color: #fff;
            max-width: 150px; }
            .related-products .product .wrapper .image .comp-wish-cart .icon-text:hover span {
              visibility: visible; }
    .related-products .product .wrapper .desc {
      padding: 24px; }
      .related-products .product .wrapper .desc .price-stock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .related-products .product .wrapper .desc .price-stock .price {
          color: #1D70B7;
          font-size: 18px;
          font-weight: bold; }
      .related-products .product .wrapper .desc .product-name {
        border-top: 1px solid rgba(29, 112, 183, 0.25);
        margin-top: 5px;
        padding-top: 5px;
        font-family: "mmsRegular", sans-serif; }
      .related-products .product .wrapper .desc .club-point {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(231, 66, 44, 0.25);
        border-radius: 100px;
        padding: 2.5px 15px;
        margin-top: 12px; }
        .related-products .product .wrapper .desc .club-point .point-data {
          font-weight: bold; }
    .related-products .product .wrapper:hover .comp-wish-cart {
      transform: translateX(0); }
.related-products .tn-slider {
  display: flex;
  flex-direction: row; }
.related-products .tns-controls {
  position: relative;
  display: flex !important; }
  .related-products .tns-controls button {
    outline: none;
    border: 1px solid #1D70B7;
    background: #daebf9;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    box-shadow: 0 5px 10px #1D70B7; }
    .related-products .tns-controls button:hover {
      background: #1D70B7; }
      .related-products .tns-controls button:hover i {
        color: #daebf9; }
    .related-products .tns-controls button i {
      color: #1D70B7; }
  .related-products .tns-controls button[data-controls="prev"] {
    position: absolute;
    top: 200px;
    left: -5px;
    z-index: 1; }
  .related-products .tns-controls button[data-controls="next"] {
    position: absolute;
    top: 200px;
    right: -5px;
    z-index: 1; }

/*# sourceMappingURL=SingleProduct.css.map */
