@import 'templates/variables';
@import 'templates/mixins';

.comparison {
    .table {
        margin-top: 15px;

        .title {
            font-weight: bold;
            text-transform: capitalize;
            color: $primCol;
        }

        .title-data {
            font-weight: normal;
        }

        img {
            width: 100%;
            max-width: ;
        }
    }
}