@import 'templates/variables';
@import 'templates/mixins';

.sidebar-container {
    display: block;

    .sidebar {
        .menu-wrapper {
            .menu {
                &.dashboard {
                    border-color: $secCol;
                    background: $secCol;
                    color: #fff;
                }
            }
        }
    }
}

.dashboard-content {
    .cust-card {
        width: 100%;
        background: grad();
        border-radius: 1rem;
        padding: 15px;
        color: #fff;

        .number {
            @include head()
        }
    }
}