@import 'templates/variables';
@import 'templates/mixins';

.cart-steps {
    .icon-name {

        &.my-cart,
        &.shipping-info {
            opacity: 1;
            color: $primCol;
        }

        &.delivery-info {
            opacity: 1;

            div {
                color: $secCol;
            }
        }
    }
}

.product-list {
    .table {

        .thead,
        .tbody {
            .product {
                flex-basis: 150%;
            }
        }
    }

    .table {
        .tbody {

            .product {
                .image-name {
                    @include flex(row, null, center);

                    .image {
                        overflow: hidden;
                        border-radius: .5rem;
                        flex-shrink: 0;

                        img {
                            width: 100%;
                            max-width: 70px;
                        }
                    }

                    .name-qty {
                        margin-left: 10px;

                        .name {
                            font-weight: bold;
                            color: $primCol;
                            font-family: "mmsBold", sans-serif;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .delivery-type {
            .label-check {
                margin-top: 5px;
                padding: 0 .75rem;
                @include flex(row, null, center);

                .label {
                    @include head();
                    font-size: 1rem;
                    color: $primCol;
                    margin-right: 10px;
                }

                .check-icon {
                    label {
                        @include flex(row, null, center);
                        border: 1px solid rgba($color: #000000, $alpha: 0.15);
                        border-radius: 100px;
                        padding: 5px 10px;
                        transition: 0.3s all;
                        cursor: pointer;
                    }

                    .icon {
                        @include flex(row, center, center);
                        margin-right: 5px;
                        background: #fff;
                        width: 18px;
                        height: 18px;
                        border-radius: 18px;
                        border: 1px solid rgba($color: #000000, $alpha: 0.15);
                        color: $primCol;
                        font-size: 0;
                        transition: 0.3s all;
                    }

                    .form-check-input {
                        display: none;

                        &:checked {
                            +label {
                                border: 1px solid rgba($color: $primCol, $alpha: 1);

                                .icon {
                                    border: unset;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .delivery-time {
            @extend .delivery-type;

            .label-check {
                .check-icon {
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }
        }

        .buttons {
            @include flex(row, $sb, center);
            margin-top: 15px;
            margin-bottom: .75rem;
        }
    }
}