@import 'templates/variables';
@import 'templates/mixins';


@media(max-width:992px) {

    /* -------------------------------------------- */
    /*               popular products               */
    /* -------------------------------------------- */
    .cust-card .popular-products .card {
        flex-basis: calc(50% - 20px);
        margin-bottom: unset;
    }

    /* -------------------------------------------- */
    /*               featured product               */
    /* -------------------------------------------- */
    .content-container {
        padding: unset;
    }

    .featured-products .tns-controls button {
        width: 30px;
        height: 30px;
    }

    .featured-products .product .wrapper .desc {
        padding: 12px;
    }

    .featured-products .product .wrapper .desc .price-stock .price {
        font-size: 15px;
    }

    .featured-products .product .wrapper .image .comp-wish-cart {
        display: none;
    }
}

@media(max-width:576px) {

    /* -------------------------------------------- */
    /*               popular products               */
    /* -------------------------------------------- */
    .cust-card {
        .popular-products {
            max-height: 300px;
        }
    }

    /* -------------------------------------------- */
    /*               popular products               */
    /* -------------------------------------------- */
    .cust-card .popular-products .card {
        flex-basis: 100%;
        margin-bottom: unset;
    }
}

@media(min-width:992px) {
    .featured-products {
        .product {
            width: 20%;
        }
    }
}