@import 'templates/variables';
@import 'templates/mixins';

.register {
    min-height: calc(100vh - 461px);

    .title {
        color: $primCol;
        padding: 0.75rem .75rem 0;
    }

    .inputs {
        padding: .75rem;

        .form-control {
            border-radius: 100px;
            font-size: .875rem;
            padding: 10px 20px;
        }

        .t-and-c {
            @include flex(row, $sb, center);

            .form-check {
                margin-left: 20px;

                .form-check-input {
                    border-radius: 30px;
                }

                .form-check-input:checked {
                    background-color: $primCol;
                    border-color: $primCol;
                }
            }
        }
    }

    .have-account {
        @include flex(col, null, center);
        padding: .75rem;
    }
}