@media(max-width:992px) {
    .tooltip {
        display: none;
    }

    body {
        padding-bottom: 60px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            background: rgba($color: $primCol, $alpha: 75%);
            right: 0;
            left: 0;
            z-index: 1021;
            pointer-events: none;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s all;
        }

        &.overlay-active {
            &:after {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .sidebar-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1022;
        height: 100%;
        border-radius: 0;
        transform: translateX(-100%);
        transition: 0.3s all;

        &.expanded {
            transform: translateX(0);
        }
    }

    .messenger-floating-icon {
        margin: 15px 15px 70px;
        opacity: 1;
    }

    .table {
        .thead {
            display: none;
        }

        .tbody {
            display: block;

            &:after {
                display: none;
            }

            .tr {
                flex-wrap: wrap;
                align-items: start;

                .td {
                    @include flex(col, center, center);
                    flex-basis: 50%;
                    margin: unset;
                    text-align: center;
                    font-size: 12px;

                    .th-sm {
                        @include head();
                        color: $primCol;
                    }
                }
            }
        }
    }

    /* -------------------------------------------- */
    /*                 cart progress                */
    /* -------------------------------------------- */

    .cart-steps {
        .icon-name {
            .label {
                display: none;
            }

            &:not(:first-child) {
                &::before {
                    left: -15px;
                }
            }
        }
    }

    /* -------------------------------------------- */
    /*                  order steps                 */
    /* -------------------------------------------- */
    .order-steps {
        .step {
            .wrapper {
                .label {
                    font-size: 11px !important;
                }
            }
        }
    }
}

@media(min-width: 992px) {
    .sidebar-container {
        display: none;
    }

    .table {
        .tbody {
            .tr {
                .th-sm {
                    display: none;
                }
            }
        }
    }
}