.btn-primary {
	color: #fff;
	background-color: $primCol;
	border-color: $primCol;
	text-transform: uppercase;
}

.btn-primary:hover {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: darken($primCol, 5%);
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: lighten($primCol, 50%);
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: lighten($primCol, 50%);
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-outline-primary {
	color: $primCol;
	border-color: $primCol;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: $primCol;
	border-color: $primCol;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: darken($primCol, 5%);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.form-control:focus {
	border-color: $primCol;
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.accordion {
	--bs-accordion-bg: #{$lpCol};
	--bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
	--bs-accordion-border-color: #{rgba($primCol,25%)};
	--bs-accordion-border-radius: 0.5rem;
	--bs-accordion-inner-border-radius: calc(0.5rem - 1px);
	--bs-accordion-btn-color: #{$lpCol};
	--bs-accordion-btn-bg: #{$primCol};
	--bs-accordion-btn-focus-border-color: unset;
	--bs-accordion-btn-focus-box-shadow: unset;
	--bs-accordion-active-color: #{$lpCol};
	--bs-accordion-active-bg: #{darken($primCol,5%)};
	--bs-accordion-btn-icon: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")};
	--bs-accordion-btn-active-icon: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")};
}

.accordion-body {
	background-color: $lpCol;
}

.accordion-item,
.accordion-button {
	border-radius: var(--bs-accordion-border-radius);
}

.accordion-button:not(.collapsed) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.accordion-item:not(:last-child) {
	margin-bottom: 15px;
}

.accordion-body {
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.text-justify {
	text-align: justify !important;
}

@import "contentResponsive";