@font-face {
	src: url("../fonts/mms-bangla-regular.ttf");
	font-family: "mmsRegular";
}

@font-face {
	src: url("../fonts/mms-bangla-bold.ttf");
	font-family: "mmsBold";
}

.btn-primary {
	color: #fff;
	background-color: $primCol;
	border-color: $primCol;
	text-transform: uppercase;
	border-radius: 100px;
}

.btn-primary:hover {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: darken($primCol, 5%);
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: lighten($primCol, 50%);
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: lighten($primCol, 50%);
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-outline-primary {
	color: $primCol;
	border-color: $primCol;
	border-radius: 100px;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: $primCol;
	border-color: $primCol;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: darken($primCol, 5%);
	border-color: darken($primCol, 5%);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.form-control:focus {
	border-color: $primCol;
	box-shadow: 0 0 0 0.2rem rgba($primCol, 0.25);
}

.accordion {
	&.shortcuts {
		.accordion-body {
			background: $lpCol;
			padding: unset;
			overflow: hidden;
		}

		.shortcutMenu {
			@include flex(row, null, center);
			padding: 10px 15px;

			&:not(:last-child) {
				border-bottom: 1px solid rgba($primCol, 25%);
			}

			i {
				margin-right: 10px;
				color: $primCol;
			}

			&:hover {
				color: darken($primCol, 10%);
				background: rgba($primCol, 15%);
			}
		}
	}

	.accordion-collapse {
		overflow: hidden;
	}
}

.accordion-button {
	background-color: $primCol;
	color: #fff;

	&:after {
		background-image: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")};
	}

	padding: 10px 15px;
}

.accordion-body {
	background-color: $lpCol;
}

.accordion-item,
.accordion-button {
	border-radius: var(--bs-accordion-border-radius);
}

.accordion-button:not(.collapsed) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	&:after {
		background-image: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")};
	}
}

.accordion-item:not(:last-child) {
	margin-bottom: 15px;
}

.accordion-body {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.accordion-button:not(.collapsed) {
	color: #fff;
	background-color: darken($primCol, 10%);
	box-shadow: unset;
}

.accordion-button:focus {
	box-shadow: unset;
}

.accordion-item {
	border: 1px solid rgba($primCol, 25%);
}

.accordion-item:first-of-type {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.accordion-item:first-of-type .accordion-button {
	border-top-left-radius: calc(20px - 1px);
	border-top-right-radius: calc(20px - 1px);
}

.accordion-item:last-of-type {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.accordion-item:last-of-type .accordion-collapse {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-right-radius: calc(20px - 1px);
	border-bottom-left-radius: calc(20px - 1px);
}

.accordion-item,
.accordion-button {
	border-radius: 20px;
}

.text-justify {
	text-align: justify !important;
}

.content-container {
	background: $lpCol;
	border-radius: 15px;
	padding: .75rem;

	.sec-title {
		@include head();
		color: $secCol;
		text-align: center;
		font-size: 1.25rem;
		padding-top: 12px;
		text-transform: capitalize;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: rgba($secCol, 25%);
			margin: 0 auto;
		}
	}

	.sec-title2 {
		@extend .sec-title;
		color: $primCol;
		padding: .75rem;

		.wrapper {
			@include flex(row, $sb, center);
			@include head();

			* {
				font-family: inherit;
			}
		}

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: rgba($primCol, 25%);
			margin: 0 auto;
		}
	}
}

.table {
	border-color: $primCol;
}

.jq-star {
	&:not(:last-child) {
		margin-right: 3px;
	}
}

.jq-star-svg {
	padding-left: unset;
}

.stock {
	padding: 5px 10px;
	border-radius: 100px;
	color: #fff;

	&.stock-in {
		background: var(--bs-success);
	}

	&.stock-out {
		background: var(--bs-danger);
	}
}

.divider {
	width: 100%;
	height: 1px;
	background: rgba($primCol, 25%);
	border-radius: 10px;
}

.form-check {
	min-height: unset;
	margin-bottom: unset;
	padding-left: unset;
}

.form-check,
.form-check-input,
.form-check-label {
	cursor: pointer;
}

/* -------------------------------------------- */
/*                     modal                    */
/* -------------------------------------------- */
.modal-backdrop {
	background-color: darken($primCol, 25%);

	&.show {
		opacity: .75;
	}
}

.modal {
	padding-right: unset !important;

	.modal-content {
		border-radius: 1.5rem;
		border-color: rgba($color: $lpCol, $alpha: .50);
		overflow: hidden;

		.modal-header {
			background-color: $primCol;
			padding: .75rem 2*.75rem;

			.btn-close-custom {
				@include flex(row, center, center);
				width: 2rem;
				height: 2rem;
				border: 1px solid $lpCol;
				border-radius: 1rem;
				background: transparent;
				color: $lpCol;
				opacity: .5;

				&:hover {
					opacity: 1;
				}
			}

			.modal-title {
				color: $lpCol;
			}
		}
	}
}


/* -------------------------------------------- */
/*                mobile sidebar                */
/* -------------------------------------------- */
.sidebar {
	padding: 12px;

	.image-name {
		@include flex(col, null, center);

		.img-wrapper {
			overflow: hidden;
			width: 70px;
			height: 70px;
			border-radius: 100px;
			border: 2px solid rgba($color: $primCol, $alpha: 50%);

			img {
				width: 100%;
			}
		}

		.name {
			color: $primCol;
			font-size: 16px;
			font-weight: bold;
			margin-top: 5px;
		}
	}

	.divider {
		width: unset;
		margin: 0 -22px;
	}

	.menu-wrapper {
		.menu {
			@include flex(row, null, center);
			padding: 5px 15px;
			border: 1px solid $primCol;
			border-radius: 2rem;
			color: $primCol;
			margin-top: 12px;
			font-size: 13px;
			transition: 0.3s all;

			&:hover {
				background-color: $primCol;
				color: #fff;
			}

			i {
				margin-right: 5px;
			}
		}
	}
}

/* -------------------------------------------- */
/*                messenger icon                */
/* -------------------------------------------- */
@keyframes fb-icon-blink {
	0% {
		opacity: 0.5;
		background: $primCol;
	}

	50% {
		opacity: 1;
		background: $secCol;
	}

	100% {
		opacity: 0.5;
		background: $primCol;
	}
}

.messenger-floating-icon {
	@include flex(row, center, center);
	color: #fff;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: $primCol;
	margin: 20px;
	font-size: 25px;
	opacity: 0.5;
	transition: 0.3s all;
	animation: fb-icon-blink 2s ease 0s infinite normal none;

	&:hover,
	&:focus {
		opacity: 1;
		color: #fff;
		background: $secCol;
		animation: 0;
	}
}

/* -------------------------------------------- */
/*               responsive table               */
/* -------------------------------------------- */

.table>:not(caption)>*>* {
	padding: unset;
	background-color: unset;
	border-bottom-width: unset;
	box-shadow: unset;
}

.table>:not(:first-child) {
	border-top: unset;
}

.table {
	margin-bottom: 0;
	padding: 0.75rem .75rem 0;

	.thead {
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: rgba($color: $primCol, $alpha: 1.0);
			margin-top: 5px;
		}

		.tr {
			@include flex(row, null, center);

			.th {
				@include head();
				color: $primCol;
				text-transform: capitalize;
				font-size: 1rem;
				margin: 0 .75rem;
			}
		}
	}

	.tbody {
		@extend .thead;

		&:after {
			display: none;
		}

		.tr {
			padding: 0.75rem 0;

			&:not(:last-child) {
				border-bottom: 1px solid rgba($color: $primCol, $alpha: .25);
			}

			&.hoverable {
				&:hover {
					background: rgba($color: $primCol, $alpha: .15);
					cursor: pointer;
				}
			}

			.td {
				@extend .th;
				color: rgba($color: #000000, $alpha: .75);
				font-weight: 400;
				font-family: $paraFF;
			}
		}
	}

	.thead,
	.tbody {
		.tr {

			.th,
			.td {
				flex-basis: (100%/1);
			}
		}
	}
}

/* -------------------------------------------- */
/*                 cart progress                */
/* -------------------------------------------- */
.cart-steps {
	@include flex(row, center, center);
	padding: 2*.75rem;
	max-width: 768px;
	margin: 0 auto;

	.icon-name {
		@include flex(row, end);
		text-align: center;
		position: relative;
		opacity: 0.5;

		i {
			font-size: 2rem;
		}

		.label {
			font-weight: bold;
		}

		&:first-child {
			flex-shrink: 0;
		}

		&:not(:first-child) {
			flex-basis: 100%;

			&::before {
				position: absolute;
				content: "\f054";
				font-family: $fw;
				font-weight: bold;
				width: 100%;
				text-align: center;
				top: 50%;
				transform: translateY(-50%);
				left: -40px;
			}
		}
	}
}

/* -------------------------------------------- */
/*                  order steps                 */
/* -------------------------------------------- */
.order-steps {
	@include flex(row, $sb, center);
	padding: .75rem;

	.step {
		@include flex(row, end, center);
		position: relative;

		.wrapper {
			@include flex(col, null, center);
			flex-shrink: 0;
			position: static;
			z-index: 1;

			.icon {
				@include flex(row, center, center);
				width: 45px;
				height: 45px;
				border-radius: 45px;
				background: lighten(#000, 75%);
				font-size: 1.5rem;
				color: #fff;
			}

			.label {
				font-size: 1rem;
				text-transform: capitalize;
				margin-top: 5px;
			}
		}

		&:first-child {
			flex-shrink: 0;
		}

		&:not(:first-child) {
			flex-basis: 100%;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background: lighten(#000, 75%);
				position: absolute;
				top: 23px;
				left: -35px;
			}
		}

		&.complete {
			.wrapper {
				.icon {
					background: $primCol;
				}

				.label {
					@include head();
					color: $primCol;
				}
			}

			&::before {
				background: $primCol;
			}
		}
	}
}

.tooltip {
	text-transform: capitalize;
}

/* -------------------------------------------- */
/*               add to cart modal              */
/* -------------------------------------------- */

#AddToCartModal {

	.modal-dialog {
		max-width: 1024px;
	}

	.product-wrapper {
		@include flex(row, null, start);

		.info {
			flex-grow: 1;
			padding: 12px;

			h4 {
				font-family: "mmmsRegular", sans-serif;
				color: $primCol;
			}

			.review-wrapper {
				@include flex(row, null, center);

				.count {
					margin-left: 5px;
					color: rgba(#000, 50%);
				}
			}

			.stock {
				font-size: 14px;
			}

			.title {
				flex-basis: 15%;
				color: $primCol;
				flex-shrink: 0;
			}

			.data {
				&.price {
					.price-tag {
						font-size: 24px;
						font-weight: bold;
						color: $primCol;
					}
				}

				&.size-options {
					@include flex(row);
					flex-wrap: wrap;

					.form-check-input {
						display: none;
					}

					.size-option-wrapper {
						margin: .5rem 0;

						&:not(:last-child) {
							margin-right: 1rem;
						}
					}

					.form-check-input:checked {
						+.form-check {
							.form-check-label {
								border-color: $primCol;
								color: $lpCol;
								font-weight: normal;
								background: $primCol;
							}
						}
					}

					.form-check-label {
						border: 1px solid rgba(#000, 15%);
						padding: 1rem 1.5rem;
						border-radius: .25rem;
						font-size: 1rem;
						transition: 0.3s all;
					}
				}

				&.quantity {
					.btn {
						&:nth-child(1) {
							border-radius: 100px 0 0 100px;
						}

						&:nth-child(3) {
							border-radius: 0 100px 100px 0;
						}


						&:focus {
							box-shadow: unset;
						}
					}

					.form-control {
						text-align: center;
						width: 50px;

						&:focus {
							box-shadow: unset;
						}
					}
				}
			}
		}

		.product-image {
			flex-shrink: 0;
			margin: 12px;
			overflow: hidden;
			border-radius: .875rem;
		}
	}
}

/* -------------------------------------------- */
/*                  home popup                  */
/* -------------------------------------------- */
#cboxNext,
#cboxPrevious {
	display: none !important;
}

@import "contentResponsive";