/* -------------------------------------------- */
/*                 header                */
/* -------------------------------------------- */
.bottom-header {
    background: $lpCol;
    position: sticky;
    top: 0;
    z-index: 3;

    .main-header {
        @include flex(row, null, center);
        padding: 5px 0;

        .logo {
            margin-right: 15px;

            img {
                max-height: 70px;
            }
        }

        @keyframes did {
            0% {
                background: $secCol;
                transform: scale(1);
            }

            50% {
                background: $primCol;
                transform: scale(0.9);
            }

            100% {
                background: $secCol;
                transform: scale(1);
            }
        }

        .delivery-in-dhaka {
            @include flex(col, start, start);
            min-width: 120px;
            height: 55px;
            margin-right: 1rem;
            font-family: "Montserrat", sans-serif;
            line-height: 1;
            background: $secCol;
            color: #fff;
            padding: .5rem .75rem;
            border-radius: .5rem;
            animation: did 2s ease 0s infinite normal none;

            .delivery-in {
                font-size: 1.25rem;
            }

            .dhaka {
                text-transform: uppercase;
                font-size: 2rem;
                @include head();
            }
        }

        .search-input {
            width: 100%;

            .form-control {
                font-size: 14px;
                border-radius: 100px !important;
                padding: 10px 20px;
                position: relative;

                &:focus {
                    box-shadow: unset;
                }
            }

            .btn {
                border-radius: 100px !important;
                position: absolute;
                right: 10px;
                padding: unset;
                width: 30px;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 3;
            }

            .btn-primary {
                &:focus {
                    box-shadow: unset;
                }
            }
        }

        .comp-wish-cart {
            @include flex(row);
            margin-left: 15px;

            .noti,
            .wish,
            .cart {
                button {
                    @include flex(row, null, center);
                    border-radius: 100px;

                    .badge {
                        top: 0;
                        border-radius: 100px;
                        background: $secCol;
                    }
                }
            }

            .noti {
                position: relative;

                i {
                    line-height: 1.5;
                }

                .btn {
                    border-radius: 100px;
                }

                .all-notifications {
                    width: 300px;
                    position: absolute;
                    background: #fff;
                    z-index: 3;
                    right: 0;
                    margin-top: 10px;
                    border-radius: .75rem;
                    padding: .75rem 2*.75rem;
                    box-shadow: 0px 10px 15px rgba(#000, 50%);
                    display: none;
                    transition: 0.3s all;

                    &.show {
                        display: block;
                    }

                    .title {
                        color: $secCol;
                        font-weight: bold;
                        font-size: 1rem;
                        text-transform: capitalize;
                    }

                    .single-notification {
                        height: 300px;
                        overflow-y: auto;

                        /* width */
                        &::-webkit-scrollbar {
                            width: 20px;
                        }


                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: #fff;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            opacity: 0.5;
                            background: $primCol;
                            border-left: 15px white solid;
                            background-clip: padding-box;
                        }

                        .text-remove {
                            @include flex(row, $sb, center);
                            padding: .75rem;
                            background: $lpCol;
                            border-radius: .75rem;
                            margin: .75rem 0;

                            .remove-icon {
                                font-size: 1.5rem;
                                color: red;
                                margin-left: 1rem;
                            }
                        }
                    }

                    .view-all-btn {
                        @include flex(row, center, center);
                        margin-bottom: .75rem;
                        margin-top: .75rem;

                        .btn {
                            border-radius: 100px;
                            text-transform: capitalize;
                        }
                    }
                }
            }

            .cart {
                position: relative;

                .cart-details {
                    position: absolute;
                    background: #fff;
                    z-index: 3;
                    right: 0;
                    margin-top: 10px;
                    border-radius: .75rem;
                    padding: .75rem 2*.75rem;
                    box-shadow: 0px 10px 15px rgba(#000, 50%);
                    width: max-content;
                    display: none;
                    transition: 0.3s all;

                    &.show {
                        display: block;
                    }

                    .title {
                        color: $secCol;
                        font-weight: bold;
                        font-size: 1rem;
                        text-transform: capitalize;
                    }

                    .products {
                        height: 300px;
                        overflow-y: auto;

                        /* width */
                        &::-webkit-scrollbar {
                            width: 20px;
                        }


                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: #fff;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            opacity: 0.5;
                            background: $primCol;
                            border-left: 15px white solid;
                            background-clip: padding-box;
                        }

                        .product {
                            @include flex(row, $sb, center);
                            padding: .75rem;
                            background: $lpCol;
                            border-radius: .75rem;
                            margin: .75rem 0;

                            .image-name-price {
                                @include flex(row, null, center);

                                .image {
                                    overflow: hidden;
                                    border-radius: .5rem;
                                    flex-shrink: 0;

                                    img {
                                        width: 100%;
                                        max-width: 70px;
                                    }
                                }

                                .name-price {
                                    flex-shrink: 0;
                                    margin-left: 10px;

                                    .name {
                                        font-weight: bold;
                                        color: $primCol;
                                        font-family: "mmsBold", sans-serif;
                                        font-size: 1rem;
                                    }
                                }
                            }

                            .remove-icon {
                                font-size: 1.5rem;
                                color: red;
                                margin-left: 1rem;
                            }
                        }
                    }

                    .subtotal {
                        @include flex(row, $sb, center);
                        border: 1px solid rgba($primCol, 25%);
                        border-radius: 100px;
                        padding: .75rem 2*.75rem;
                        margin: .75rem 0;
                        font-size: 1rem;

                        .text {
                            color: $primCol;
                        }

                        .amount {
                            font-weight: bold;
                            color: $secCol;
                        }
                    }

                    .cart-checkout-btn {
                        @include flex(row, center, center);

                        .btn {
                            border-radius: 100px;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }

        .login-reg {
            @include flex(row, null, center);
            margin-left: 15px;

            .btn {
                @include flex(row, center, center);
                border-radius: 40px;
                flex-shrink: 0;
                width: 31.9px;
                height: 31.9px;
            }

            .afterLogin {
                .btn {
                    width: unset;
                    height: unset;
                }
            }
        }

        .hotline {
            @include flex(row, null, center);
            background: $secCol;
            padding: 5px;
            border-radius: 100px;
            margin-left: 15px;
            flex-shrink: 0;

            .icon {
                @include flex(row, center, center);
                width: 45px;
                height: 45px;
                border-radius: 50px;
                color: $secCol;
                background: $lpCol;

                i {
                    font-size: 20px;
                }
            }

            .text {
                @include flex(col, center, start);
                color: #fff;
                margin-left: 10px;
                margin-right: 15px;
                flex-wrap: wrap;

                .call-us {
                    margin-bottom: -5px;
                }

                .hotline-number {
                    font-size: 1.25rem;
                }
            }
        }

        .navbar-toggler {
            width: 45px;
            height: 45px;
            border-radius: 45px;
            background: $primCol;

            &:focus {
                box-shadow: unset;
            }

            .navbar-toggler-custom-icon {
                .bar {
                    width: 100%;
                    height: 3px;
                    border-radius: 2px;
                    background: $lpCol;
                    display: block;
                    transition: 0.3s all;

                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }

            &[aria-expanded="true"] {
                .navbar-toggler-custom-icon {
                    .bar {
                        margin-bottom: -3px;
                    }

                    .bar-1 {

                        transform: rotate(45deg);
                    }

                    .bar-2 {
                        display: none;
                    }

                    .bar-3 {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

.modal-backdrop {
    z-index: 3;
}

.navigation-menu {
    background: linear-gradient(90deg, $primCol 0%, #35a8e0 50%, $primCol 100%);
    position: sticky;
    top: 80px;
    z-index: 2;

    .navbar {
        padding: 0;

        .navbar-collapse {
            justify-content: center;
        }
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        color: #fff;
    }

    .nav-link {
        color: #fff;
        font-size: 1.125rem;
    }

    .animate__animated {
        animation-duration: 0.5s;
    }

    .dropdown-menu {
        background: $lpCol;
        border: 1px solid rgba($primCol, 25%);
    }

    .dropdown-label {
        color: $primCol;
        font-weight: bold;
        padding-left: 1rem;
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        background: $primCol;
        color: #fff;
    }
}


.mobile-menu {
    background: linear-gradient(90deg, $primCol 0%, #35a8e0 50%, $primCol 100%);

    .navbar-nav {
        flex-direction: row;

        .nav-item {
            margin: 0 10px;
        }

        .nav-link {
            color: #fff;
        }
    }
}

.mobileNavMenu {
    border-top: 1px solid rgba($lpCol, 25%);
}

#categoryModal {

    .modal-body {
        padding: unset;

        .wrapper {
            @include flex(row);
            flex-wrap: wrap;

            .single-category {
                flex-basis: 50%;
                padding: 12px;

                .title {
                    color: $primCol;
                    font-weight: bold;
                    font-size: 13px;
                    text-align: center;

                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: rgba($primCol, 25%);
                        margin-top: 2.5px;
                    }
                }

                ul {
                    text-align: center;

                    li {
                        margin: 5px 0;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------- */
/*              multi level navbar              */
/* -------------------------------------------- */

.dropdown-menu {
    margin-top: 0;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin: 0 20px;
    border-width: 0;
}

.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}



@import "headerResponsive";

/* -------------------------------------------- */
/*                mobile nav menu               */
/* -------------------------------------------- */

.mobile-nav {
    background: $lpCol;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 10px #1d70b7;

    .wrapper {
        @include flex(row, space-between);

        .menu {
            @include flex(row, center);
            padding: 15px 10px;
            font-size: 30px;
            flex-grow: 1;
            color: $primCol;

            &:not(:last-child) {
                border-right: 1px solid rgba($primCol, 25%);
            }
        }

        .cart {
            position: relative;

            span {
                @include flex(row, center, center);
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100px;
                font-size: 10px;
                color: #fff;
                background: $secCol;
                top: 5px;
                right: 20px;
            }
        }
    }
}